# OS
.DS_Store

# Environment
.env
config.yaml
config.docker.yaml

# IDE
.idea/

# Binaries
/bin/
/releases/

# Docker image archive
sm-jelly.tar.gz

# Go
*.test
*.out

# Local
tmp
workspace/
*.local.*

